<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">MY BLOG</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="/reviews"> Book Review </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/blogs">Blogs</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/writer-corner">Writer's Corner</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/coming-soon">Coming Soon</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Notice this is just header, and I have created it once only, and imported once in layout -->
<!-- So it's reusable, and if I change it on this file it will be changed on each page -->