<section class="bg-light">
  <div class="container">
    <h1 class="text-center mb-5">CHOOSE YOUR TYPE</h1>
    <div class="row">
      <div class="col-md-6">
        <a href="/reviews/paperback">
          <div class="card">
            <img
              class="card-img-top w-100"
              src="https://images.unsplash.com/photo-1472737817652-4120ab61af6c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80"
              alt="paperback"
            />
            <div class="card-body">
              <h4 class="text-center">
                <a href="/reviews/paperback">I better prefer paperback.</a>
              </h4>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="/reviews/ebook">
          <div class="card">
            <img
              class="card-img-top w-100"
              src="https://images.unsplash.com/photo-1455541504462-57ebb2a9cec1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
              alt="ebooks"
            />
            <div class="card-body">
              <h4 class="text-center">
                <a href="/reviews/ebook">I like reading Ebooks</a>
              </h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
